
body{
    background-image:url( '../assets/pokemon-bg.jpg') ;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    border-style: outset;
    height: 200;
    width: 200px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    position: relative;
}
.imgborder{
    border-radius: 50px;
}