/* Add your code in each class */
body { 
  background-color: rgb(49, 16, 59);
}
.container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  object-fit: cover;
}
.movie-card {
 
}
.movie-image {
  
  height: 500px;
  width: 300px;
}
.movie-details-container {
}
.descriptions {
  position: relative;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
}
